### 1. Designing a Data Pipeline
Every year we need to move our raw data from a SQLite database, aggregate it, and store it in a MongoDB Atlas instance where all of our different analysts can have access to these statistics. In order to make this process as painless as possible you are charged with automating this once long and tedious process.

Create a function which will take the Season as an argument and execute the following:

* Aggregate match statistics from a SQLite database in the file `database.sqlite`
    * A data dictionary available [here](https://www.kaggle.com/laudanum/footballdelphi)
* Combine match information with weather data from the [DarkSky API](https://darksky.net/dev)
* Insert data into MongoDB Atlas where each record contains the following information:
   * Team Name
   * League (either English Premier League (E0) or Bundesliga (D1))
   * Season
   * Total number of goals scored by the team during the season
   * Total number of wins the team earned during the season
   * Team's win percentage on days where it was raining during games in the season

In [2]:
import pymongo
import pandas as pd
import numpy as np
import json
import requests
import sqlite3

In [33]:
def pipeline(season):
    games = get_season_games(season)
    print("got season games")
    with_rain = add_rainy(games)
    print("got season games w rain")
    stats = get_stats(with_rain)
    print("got stats")
    mongo_handler(stats)

In [34]:
pipeline(2010)

got season games

KeyError: 'daily'

In [3]:
cur = sqlite3.connect('database.sqlite').cursor()

In [17]:
def get_season_games(season):
    wanted_match_df = pd.DataFrame(cur.execute(f"""SELECT HomeTeam, AwayTeam, Div AS league, Season, FTHG, FTAG, FTR, Date
                                                    FROM matches
                                                    WHERE season = {season}
                                                    AND (league = 'E0' OR league = 'D1')
                                                    """).fetchall())
    wanted_match_df.columns = [x[0] for x in cur.description]
    return wanted_match_df

In [15]:
def get_rainy(time):
    url = f'https://api.darksky.net/forecast/50d46873ca88e25f973adf8228bf2275/52.5200,13.4050,{time}T12:00:00'
    response = requests.get(url)
    data = json.loads(response.text)
    print(data)
    if 'icon' in data['daily']['data'][0].keys():
        return 'rain' in data['daily']['data'][0]['icon']
    return False

In [32]:
def add_rainy(df):
    rain_frame = df.copy()
    rainy = []
    counter = 0
    for date in rain_frame['Date']:
        counter += 1
        if counter % 10 == 0: print(counter)
        rainy.append(get_rainy(date))
    rain_frame['rainy'] = rainy
    return rain_frame

In [25]:
def total_goals(team, dataframe):
    home_goals = dataframe.loc[dataframe['HomeTeam'] == team]['FTHG'].sum()
    away_goals = dataframe.loc[dataframe['AwayTeam'] == team]['FTAG'].sum() 
    return home_goals + away_goals

In [26]:
def total_wins(team, dataframe):
    home_wins = len(dataframe.loc[dataframe['HomeTeam'] == team].loc[dataframe['FTR'] == 'H'])
    away_wins = len(dataframe.loc[dataframe['AwayTeam'] == team].loc[dataframe['FTR'] == 'A'])
    return home_wins + away_wins

In [27]:
def rain_percent(team, df):
    home = df.loc[df['HomeTeam'] == team].loc[df['rainy'] == True]
    away = df.loc[df['AwayTeam'] == team].loc[df['rainy'] == True]
    wins = len(home.loc[home['FTR'] == 'H']) + len(away.loc[away['FTR'] == "A"])
    total_games = len(home) + len(away)
    if total_games == 0:
        return 0
    return wins / total_games

In [28]:
def get_stats(dataframe):
    columns=['Team Name', 'League', 'Season', 'Wins', 'Goals', 'Win Percentage on Rainy Days']
    df_list = []
    for team in set(list(dataframe['HomeTeam']) + list(dataframe['AwayTeam'])):
        league1 = dataframe.loc[dataframe['HomeTeam'] == team]
        league2 = dataframe.loc[dataframe['AwayTeam'] == team]
        league = pd.concat([league2, league1])
        season = dataframe['Season'][0]
        df_list.append([team, league['league'].iloc[0], season, total_wins(team, dataframe), total_goals(team, dataframe), rain_percent(team, dataframe)])
    return pd.DataFrame(df_list, columns=columns)

In [29]:
def mongo_handler(stats_df):
    password = json.load(open ('pwds.json'))
    client = pymongo.MongoClient(f"mongodb+srv://samthurman:{password['password']}@flatironcluster1-mfxlu.mongodb.net/test?retryWrites=true&w=majority")
    db = client.DarkskyLab
    dictionary_list = []
    for team in stats_df.values:
        dictionary = dict(zip(list(stats_df.columns), team))
        dictionary_list.append(dictionary)
    db.teamResults.insert_many(dictionary_list)
    return db.teamResults
# rainy_stats_df = get_stats(rainy)
# mongo_handler(rainy_stats_df)

In [42]:
get_rainy('2010-01-01')

{'code': 403, 'error': 'daily usage limit exceeded'}

KeyError: 'daily'

In [18]:
get_season_games(2010)

           HomeTeam       AwayTeam league  Season  FTHG  FTAG FTR        Date
0        Hoffenheim  Bayern Munich     D1    2010     1     2   A  2010-09-21
1         Wolfsburg  Bayern Munich     D1    2010     1     1   D  2011-01-15
2         Stuttgart  Bayern Munich     D1    2010     3     5   A  2010-12-19
3     Ein Frankfurt  Bayern Munich     D1    2010     1     1   D  2011-04-23
4    Kaiserslautern  Bayern Munich     D1    2010     2     0   H  2010-08-27
..              ...            ...    ...     ...   ...   ...  ..         ...
681       Newcastle      West Brom     E0    2010     3     3   D  2011-05-22
682           Stoke          Wigan     E0    2010     0     1   A  2011-05-22
683       Tottenham     Birmingham     E0    2010     2     1   H  2011-05-22
684        West Ham     Sunderland     E0    2010     0     3   A  2011-05-22
685          Wolves      Blackburn     E0    2010     2     3   A  2011-05-22

[686 rows x 8 columns]