In [86]:
import pymongo
import pandas as pd
import numpy as np
import json
import requests
import sqlite3

cur = sqlite3.connect('database.sqlite').cursor()
from server import *

In [91]:
def get_matches_w_tots(season):
    # get DF of league
    wanted_matches = get_season_games(season)
    wanted_matches.groupby('league')
#     pd.DataFrame(cur.execute(f"""SELECT HomeTeam, AwayTeam, Div AS league, Season, FTHG, FTAG, FTR, Date
#                                                         FROM matches
#                                                         WHERE season = 2011
#                                                         AND league = '{league}'
#                                                         """).fetchall())
    # append column names
    wanted_matches.columns = [x[0] for x in cur.description]
    match_totals = []
    num_matches = len(wanted_matches)
    # get match totals
    for i in range(num_matches):
        match_totals.append(wanted_matches.iloc[i]['FTHG'] + wanted_matches.iloc[i]['FTAG'])
    # append match totals to wanted_matches df
    wanted_matches['match_tots'] = match_totals
    return wanted_matches

In [92]:
get_matches_w_tots(2011)

,HomeTeam,AwayTeam,league,Season,FTHG,FTAG,FTR,Date,match_tots
0,Bochum,Leverkusen,D1,2009,1,1,D,2010-02-06,2
1,Bayern Munich,Leverkusen,D1,2009,1,1,D,2009-11-22,2
2,M'gladbach,Leverkusen,D1,2009,1,1,D,2010-05-08,2
3,Mainz,Leverkusen,D1,2009,2,2,D,2009-08-08,4
4,Hamburg,Leverkusen,D1,2009,0,0,D,2009-10-17,0
...,...,...,...,...,...,...,...,...,...
17235,Liverpool,Middlesbrough,E0,2016,3,0,H,2017-05-21,3
17236,Man United,Crystal Palace,E0,2016,2,0,H,2017-05-21,2
17237,Southampton,Stoke,E0,2016,0,1,A,2017-05-21,1
17238,Swansea,West Brom,E0,2016,2,1,H,2017-05-21,3
17239,Watford,Man City,E0,2016,0,5,A,2017-05-21,5